<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stu.swufe.healthmanager.dao.ArticlePojoMapper">
  <resultMap id="BaseResultMap" type="stu.swufe.healthmanager.pojo.ArticlePojo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_avatar" jdbcType="VARCHAR" property="userAvatar" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="labels" jdbcType="VARCHAR" property="labels" />
    <result column="view_count" jdbcType="INTEGER" property="viewCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="stu.swufe.healthmanager.pojo.ArticlePojo">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, user_avatar, user_name, category_id, state, labels, view_count, create_time, 
    update_time
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_ucc
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <!--搜索指定数量的数据，并按日期排序-->
  <select id="selectArticlesByPage"  parameterType="java.util.Map" resultMap="ResultMapWithBLOBs">
    select *
    from tb_ucc
    order by create_time desc
    limit #{start}, #{size}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_ucc
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="stu.swufe.healthmanager.pojo.ArticlePojo">
    insert into tb_ucc (id, user_id, user_avatar, 
      user_name, category_id, state, 
      labels, view_count, create_time, 
      update_time, content)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{userAvatar,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{categoryId,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{labels,jdbcType=VARCHAR}, #{viewCount,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="stu.swufe.healthmanager.pojo.ArticlePojo">
    insert into tb_ucc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userAvatar != null">
        user_avatar,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="labels != null">
        labels,
      </if>
      <if test="viewCount != null">
        view_count,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userAvatar != null">
        #{userAvatar,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="labels != null">
        #{labels,jdbcType=VARCHAR},
      </if>
      <if test="viewCount != null">
        #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="stu.swufe.healthmanager.pojo.ArticlePojo">
    update tb_ucc
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userAvatar != null">
        user_avatar = #{userAvatar,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="labels != null">
        labels = #{labels,jdbcType=VARCHAR},
      </if>
      <if test="viewCount != null">
        view_count = #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="stu.swufe.healthmanager.pojo.ArticlePojo">
    update tb_ucc
    set user_id = #{userId,jdbcType=VARCHAR},
      user_avatar = #{userAvatar,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      labels = #{labels,jdbcType=VARCHAR},
      view_count = #{viewCount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="stu.swufe.healthmanager.pojo.ArticlePojo">
    update tb_ucc
    set user_id = #{userId,jdbcType=VARCHAR},
      user_avatar = #{userAvatar,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      labels = #{labels,jdbcType=VARCHAR},
      view_count = #{viewCount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>